# OS files
.DS_Store

# IDE
.idea
.vscode

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/

# Data files
*.bin
*.pkl
input.txt

# PyTorch models
*.pt
out-pico-*/

# TensorFlow models
*.keras
*.h5
*.tflite
out-tf-*/

# Logs
*.log
wandb/